/* .movie {
    background-color: #373b69 ;
    position: relative; 
    overflow: hidden ;
    height: 100%;
   
};

.movie  img {
  height: 100%;
  width: auto;
};
  
.movie-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content:space-between;

};

.movie-info h3 {
  margin: 0;
}; */
