.movie-list{
  padding-left: 0px;

  display: flex;
  flex-wrap: wrap;
}

/* .card{
  max-width: 90%;
  margin: auto;
} */

.container-card{
  /* padding-top: 30px; */
  max-width: 100%;
  /* margin: 0 auto; */
  /* flex-wrap: wrap; */
  flex: 0 1 31%;
  margin: 20px 10px 10px 22px;
}

.container-card .movie-card{
  /* width: 25%; */
  background-color: rgb(49, 73, 93);
  height: 40 rem;
  border-radius: 0.6em;
  display: flex;
  
}

.container-card .movie-card:hover{
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.43);
  cursor: pointer;
  transform: scale(1.03);
  transition: 400ms;
  
}

.movie-card .movie img{
  width: 100%;
  height: 200px;
  border-radius: 0.6em 0.6em 0 0;
}

.container-card .movie-card .movie .movie-info h3{
  margin-left: 10px;
  float: left;
  padding-top: 0;
}

.container-card .movie-card .movie .movie-info span{
  margin-top: 5%;
  font-size: 110%;
  float: right;
  margin-right: 30px;
  background-color: rgba(107, 128, 221, 0.301);
}

.container-card .movie-card .movie .movie-overview{
  margin-top: 60px;
}

@media only screen and (max-width: 1370px){
  .container-card{
    flex: 0 1 30%;
    margin: 20px 10px 10px 30px;
    /* justify-content: space-evenly; */
  }
}

@media only screen and (max-width: 1200px){
  .container-card{
    flex: 0 1 40%;
    margin: 20px 10px 10px 70px;
    /* justify-content: space-evenly; */
  }
}

@media only screen and (max-width: 1024px){
  .container-card{
    flex: 0 1 30%;
    margin: 20px 10px 10px 22px;
  }
}

@media only screen and (max-width: 960px){
  .container-card{
    flex: 0 1 40%;
    margin: 20px 10px 10px 60px;
    /* justify-content: space-evenly; */
  }
}

@media only screen and (max-width: 768px){
  .container-card{
    max-width: 120%;
    flex: 0 1 40%;
    margin: 20px 10px 10px 45px;
    /* justify-content: space-evenly; */
  }
}

@media only screen and (max-width: 425px){
  .container-card{
    flex: 0 auto;
    margin: 10px;
  }
}