.movie-list{
  padding-left: 0px;
}

.container-card{
  padding-top: 30px;
  max-width: 90%;
  margin: 0 auto;
}

.container-card .movie-card{
  width: 25%;
  background-color: rgb(49, 73, 93);
  height: 40 rem;
  border-radius: 0.6em;
  display: flex;
}

.container-card .movie-card:hover{
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.43);
  cursor: pointer;
  transform: scale(1.03);
  transition: 400ms;
  /* box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02); */
}

.movie-card .movie img{
  width: 100%;
  height: 200px;
  border-radius: 0.6em 0.6em 0 0;
}

.container-card .movie-card .movie .movie-info h3{
  margin-left: 10px;
  float: left;
  padding-top: 0;
}

.container-card .movie-card .movie .movie-info span{
  margin-top: 5%;
  font-size: 110%;
  float: right;
  margin-right: 30px;
  background-color: rgba(107, 128, 221, 0.301);
}

.container-card .movie-card .movie .movie-overview{
  margin-top: 60px;
}